:root {
  --main-color : rgb(231, 231, 231);
}

body, html {
  height: 100%;
  margin: 0;
  background-color: var(--main-color);
}

#root {
  height: 100%;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 40px;
  justify-content: center;
  gap: 30px;
}



