:root {
    --main-color : rgb(231, 231, 231);
}

.hide {
    display: none;
}

.reveal {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.resume-editor {
    height: 100%;
    overflow-y: scroll;
    direction: rtl;
    scrollbar-color: white var(--main-color);
    scrollbar-width: thin;
}

.general-style {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: rgb(41, 41, 41);
    font-size: 18px;
    width: 520px;
    border-radius: .5em;
    padding: 10px;
    direction: ltr;
}

input, textarea {
    border: 0;
    background-color: var(--main-color);
}

input {
    height: 30px;
    border-radius: 5px;
}

h3 {
    text-align: center;
    font-size: 25px;
}

.input {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.educational-date-range, .work-date-range {
    display: flex;
    gap: 10px;
}

.educational-date-range .input, .work-date-range .input {
    flex: 1;
}

button {
    height: 30px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.save-work-btn,
.save-school-btn {
    width: 100px;
}

.work-card,
.educational-card {
    display: grid;
    grid: 1fr / 1fr 60px 30px;
    align-items: center;
    column-gap: 5px;
}

.add-school-btn,
.add-work-btn {
    align-self: center;
}

.delete-btn {
    background-color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
